@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}

:root {
    --main-font-family: 'Roboto', sans-serif;
    --primary-color: #E8C872;
    --secondary-color: #FFF3CF;
    --tertiary-color: #637A9F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font-family);
}

button {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
}

.main {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 2rem;
    padding-right: clamp(1rem, 5vw, 4rem);
}

.heading {
    font-size: 3rem;
    font-weight: 700;
    color: var(--tertiary-color);
}

.button-container {
    align-self: center;
}

#add-book {
    padding: .5rem 2rem;
    font-size: clamp(1rem, 3vw, 1.7rem);
    border: 5px solid var(--secondary-color);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 1rem;
    justify-items: center;
    margin-top: 2rem;
}

@media screen and (max-width: 515px) {
    .card-container {
        justify-content: center;
    }
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    border: 5px solid var(--primary-color);
    width: 250px;
}

.book-info-cont {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.book-info-heading {
    color: var(--tertiary-color);
    font-weight: 700;
}

.book-card-buttons {
    display: flex;
    gap: 1rem;
}